html{
    box-sizing:border-box;
}
*, *::before, *::after{
    box-sizing:inherit;
}
body{
    max-width:100%;
    overflow-x:hidden;
}
.row{
    width:100% !important;
}
.cell{
      /*flex: 1 1 auto; */
    flex-basis: fit-content !important;
    /*flex-grow: 0 !important;*/
    /*flex-shrink: 0 !important;*/
    /*width:100%!important;*/
    /*flex-wrap:wrap !important;*/
      flex: 0 0 calc(33.33% - 20px); /* Adjust width as needed */
}
@media (max-width: 1080px) {
    .cell {
        flex-basis: calc(50% - 20px); /* Adjust for smaller screens */
        
    }
    .row{
        flex-wrap:wrap!important;
    }
}